@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap");
.wrapper {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  overflow: auto;
}
.menu-wrap {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 3px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 8px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  background-color: #000;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  background-color: #000;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  visibility: hidden;
  overflow: auto;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  background: #000;
  padding-top: 3.5rem;
  box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
}
.menu-wrap .menu > div {
  background: #000;
  text-align: left;
  width: 28vw;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.menu-wrap .menu > div > div {
  text-align: left;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.menu-wrap .menu .hamburger-nav {
  margin: 0;
  background-color: #000;
  overflow-x: hidden;
  height: 100%;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.2rem;
  border-top: 1px solid #a0a0a0;
}
.menu-wrap .menu > div > div > ul:last-child {
  border-bottom: 1px solid #a0a0a0;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.navbar {
  position: fixed;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  height: 3.5rem;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 5;
}
.navbar .header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .header-container .logo {
  display: flex;
  justify-items: center;
  align-self: flex-end;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  z-index: 20;
}
.navbar .navbar .hamburger-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: "Bitter", serif;
  color: #000;
  line-height: 1.6;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
.ataturk-image-1 img {
  width: 25vm;
  display: flex;
  align-self: center;
  justify-self: center;
  padding-bottom: 1rem;
}
blockquote{
	font-style: italic;
	text-align: center;
}
#showcase {
  background: url("./img/ataturk_header.jpg")
    no-repeat center center/cover;
}
#showcase .showcase-text {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#showcase .showcase-text .tribute-title {
  padding: 0.5rem 1.5rem;
  margin-top: 71vh;
  background-color: #fff;
}
#showcase .showcase-text .tribute-title h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
#showcase .showcase-text .tribute-title h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-top: -1.5rem;
}
.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 6rem;
  font-size: 1.4rem;
}
.main-section #introduction {
  margin: 1rem 0 4rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  padding-top: 60px;
  margin-top: -60px;
}
.main-section #introduction p {
  padding: 1.4rem 0 1.8rem 0;
}
.main-section article {
  margin: 3rem 0;
  padding-top: 60px;
  margin-top: -60px;
}
.main-section section {
  margin-bottom: 2rem;
}
.main-section .text {
  font-weight: 400;
}
.main-section .text .box {
  display: inline-block;
}
.main-section .text .box h2 {
  clear: both;
  float: left;
  font-size: 3rem;
  margin: 2rem 0 0.5rem 0;
  line-height: 1.2;
  background-color: #fd9842;
}
.main-section .text .box h3 {
  padding: 0.4rem 0 0 0;
  margin: 1rem 0 -0.8rem 0;
  line-height: 1.2;
  background-color: #aaf683;
}
.main-section .text p {
  padding: 1.8rem 0 1.8rem 0;
  margin-top: -0.8rem;
}
.main-section .text img {
  margin: 1.2rem auto;
}
.main-section .text aside {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0 1.2rem 0;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
.footer {
  background: #f2f2f2;
  color: #000;
  font-size: 1rem;
  padding: 2rem 0 2rem 0;
}
.footer .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .footer-inner p {
  padding: 0.4rem 0;
}
.footer .footer-inner h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.4rem 0;
}
.footer .footer-inner .social-links {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
}
.footer .footer-inner .social-links a {
  margin-top: -0.5rem;
  padding: 0.2rem 1rem 0 1rem;
  font-size: 3rem;
  color: #000;
}
.footer .footer-inner .social-links a:hover {
  color: #fd9842;
}
@media screen and (max-width: 1030px) {
  .wrapper {
    padding: 0 2rem;
  }
  .menu-wrap .menu {
    width: 35vw;
  }
  .menu-wrap .menu > div {
    width: 35vw;
  }
  #introduction {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 780px) {
  .wrapper {
    padding: 0 1rem;
  }
  .navbar .header-container .logo {
    font-size: 1rem;
  }
  .menu-wrap .menu {
    width: 43vw;
  }
  .menu-wrap .menu > div {
    width: 43vw;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 0 1rem;
  }
  #showcase .showcase-text .tribute-title h1 {
    font-size: 2.5rem;
  }
  #showcase .showcase-text .tribute-title h2 {
    font-size: 1.4rem;
    padding-top: 0.7rem;
  }
  .main-section {
    padding: 0;
    font-size: 1.1rem;
  }
  .main-section #introduction {
    width: 88%;
    font-size: 1.2rem;
  }
  .main-section article {
    margin: 0;
  }
  .main-section .text {
    width: 88%;
  }
  .main-section .text p {
    padding: 1.8rem 0 1rem 0;
  }
  .main-section .text aside {
    width: 80%;
  }
  .main-section .text .box h2 {
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 1.8rem 0 0.5rem 0;
  }
  .main-section .text .box h3 {
    padding: 0.4rem 0 0 0;
    margin: 0.2rem 0 -0.8rem 0;
  }
  .menu-wrap {
    display: inline;
  }
  .menu-wrap .menu {
    width: 100vw;
    opacity: 0.96;
  }
  .menu-wrap .menu > div {
    width: 100vw;
  }
  .menu-wrap .menu > div > div {
    height: 100%;
  }
  .x-small-img {
    width: 90%;
  }
  .small-img {
    width: 90%;
  }
  .medium-img {
    width: 100%;
  }
  .large-img {
    width: 100%;
  }
  .x-large-img {
    width: 100%;
  }
  .intro-title {
    padding-top: 1.5rem;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2a437a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #a0acc7;
}